<section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" (keyup)="validationInput(item.task, i)" [ngClass]="{'checked': item.checked}" [(ngModel)]="item.task">
            <button class="btn-trash" (click)="deleteItem(i)">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </li>
    </ul>
</section>

<app-todo-input-add-item (emitTask)="setTask($event)"></app-todo-input-add-item>
<app-todo-btn-delete-all *ngIf="taskList.length" (click)="deleteAll()"></app-todo-btn-delete-all>
